<!DOCTYPE html>
<html>
  <head>
    <title>Knowledge Upload</title>
  </head>
  <body>
    <h1>Hello!</h1>

    <form action="/upload" method="post" enctype="multipart/form-data">
      <label for="files">Select files:</label><br /><br />
      <input type="file" name="files" multiple /><br /><br />
      <button type="submit">Upload Files</button>
    </form>

    <h1>Uploaded Files</h1>

    {% if jobs %}
    <ul>
      {% for job in jobs %}
      <li>
        {{ job.filename }} - {% if job.error == "None" %}
        <span style="color: green">Success</span>
        {% else %}
        <span style="color: red">Error: {{ job.error }}</span>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No uploads yet.</p>
    {% endif %}
  </body>
</html>
